beautifulsoup4
fastapi
html5lib
jinja2
langchain
python-dotenv
langchain-astradb
langchain_core
streamlit
langchain-google-genai
langchain-groq
lxml
python-dotenv
python-multipart
selenium
streamlit
undetected-chromedriver
uvicorn
structlog
